@page "/createbrand"
@using MyFirstEcommerceStore.Data
@using Microsoft.Extensions.Logging
@inject ILogger<BrandCreateDialog> Logger
@inject DialogService DialogService

<RadzenFieldset Text="Brand Info" Submit="@HandleSubmit">
                    <div class="row">
                        <div class="align-items-center d-flex col-md-2">
                            <RadzenLabel Text="Brand Code" />
                        </div>
                        <div class="col-md-10">
                            <RadzenTextBox Placeholder="QUAK" style="width: 10rem; margin-right: 0.5rem" Name="ProductId" @bind-Value=@brand.BrandId />
                        </div>
                    </div>
                    <div class="row">
                        <div class="align-items-center d-flex col-md-2">
                            <RadzenLabel Text="Name" />
                        </div>
                        <div class="col-md-6">
                            <RadzenTextBox Placeholder="Quaker State" style="width: 100%;" Name="Product Name" @bind-Value=@brand.Name/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="align-items-center d-flex col-md-2">
                            <RadzenLabel Text="Description" />
                        </div>
                        <div class="col-md-10">
                            <RadzenTextBox Placeholder="Fiber for days" style="width: 100%;" Name="Product Description" @bind-Value=@brand.Description/>
                        </div>
                    </div>
                </RadzenFieldset>
          <div class="row justify-content-center">
            <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" Click=@(args => @HandleSubmit())/>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel" />
            </div>
        </div>

@code {
    private Brand brand = new();
    private ProductCRUD crud = new();

    private async void HandleSubmit()
    {
        // Process the form
        if(brand != null)
        {
            await crud.CreateBrand(brand);
        }
        DialogService.Close();
    }

    void Cancel()
    {
        DialogService.Close();    
    }
}
