@page "/createproduct"
@using MyFirstEcommerceStore.Data
@using Microsoft.Extensions.Logging
@inject ILogger<ProductCreateDialog> Logger
@inject DialogService DialogService

<RadzenFieldset Text="Product Info" Submit="@HandleSubmit">
                    <div class="row">
                        <div class="align-items-center d-flex col-md-2">
                            <RadzenLabel Text="SKU" />
                        </div>
                        <div class="col-md-10">
                            <RadzenTextBox Placeholder="123-456" style="width: 10rem; margin-right: 0.5rem" Name="ProductId" @bind-Value=@product.ProductId />
                        </div>
                    </div>
                    <div class="row">
                        <div class="align-items-center d-flex col-md-2">
                            <RadzenLabel Text="Name" />
                        </div>
                        <div class="col-md-6">
                            <RadzenTextBox Placeholder="Rainbow PLA" style="width: 100%;" Name="Product Name" @bind-Value=@product.ProductName/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="align-items-center d-flex col-md-2">
                            <RadzenLabel Text="Description" />
                        </div>
                        <div class="col-md-10">
                            <RadzenTextBox Placeholder="3D Printer Filament 1.75mm" style="width: 100%;" Name="Product Description" @bind-Value=@product.ProductDescription/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="align-items-center d-flex col-md-2">
                            <RadzenLabel Text="Brand" />
                        </div>
                        <div class="col-md-10">
                            <RadzenDropDownDataGrid @bind-Value=@brandName Data=@brandNames />
                        </div>
                    </div>
                </RadzenFieldset>
          <div class="row justify-content-center">
            <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" Click=@(args => @HandleSubmit())/>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel" />
            </div>
        </div>

@code {
    private Products product = new();
    private ProductCRUD crud = new();
    List<string> brandNames;
    string brandName;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        brandNames = await crud.GetBrandNames();
    }

    private async void HandleSubmit()
    {
        Brand brandToLink = new Brand();

        if(brandName != null){
            brandToLink = await crud.BrandLookup(brandName);
        }
        // Process the form
        if(product != null)
        {
            await crud.CreateProducts(product);
        }

        if(product != null & brandName != null)
        {
            await crud.LinkBrandsToProducts(product, brandToLink);
        }
        DialogService.Close();
    }

    void Cancel()
    {
        DialogService.Close();    
    }
}