@page "/createproduct"
@using MyFirstEcommerceStore.Data
@using Microsoft.Extensions.Logging
@inject ILogger<ProductCreateDialog> Logger
@inject DialogService DialogService

<EditForm Model="@product" OnSubmit="@HandleSubmit">
    <label for="SKU">SKU:<InputText id="SKU" @bind-Value="product.ProductId" required/></label>
    <label for="productName">Name:<InputText id="productName" @bind-Value="product.ProductName" required/></label>
    <label for="Description">Description:<InputText id="Description" @bind-Value="product.ProductDescription" /></label>
    <br>
    <button type="submit" class="btn btn-secondary">Submit</button>
</EditForm>

@code {
    private Products product = new();
    private ProductCRUD crud = new();



    private async void HandleSubmit()
    {
        // Process the form
        if(product != null)
        {
            await crud.CreateProducts(product);
        }
        DialogService.Close();
    }
}